<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Registrarse</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :nombre %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :contraseña %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :confirmación_contraseña %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Crear", class: "btn btn-dark" %>
    <% end %>
  </div>
</div>
